@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  margin: 0;
  padding: 0;
  font-family: cursive;
  background: url("/images/blog-2.webp") no-repeat;
  background-size: cover;
}

.login-box {
  width: 500px;
  background-color: white;
  border-radius: 15px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.login-box h1 {
  float: center;
  font-size: 40px;
  border-bottom: 6px solidblack;
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox {
  width: 98%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0px;
  margin: 8px 0;
  border-bottom: 1px solid black;
  border-radius: 10px;
  border: 3.5px solid black;
}
.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: rgba(19, 5, 5, 0.89);
  font-size: 23px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn {
  width: 40%;
  background: none;
  border: 3.5px solid black;
  color: black;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  margin: 12px 0;
  background-color: rgb(150, 212, 150);
  border-radius: 20px;
}
